In [90]:
import pandas as pd
import requests
import json
from io import BytesIO
import dateparser
import matplotlib.pyplot as plt
import csv
from pymongo import MongoClient

In [91]:
def test_data(semaineObservation, idCulture, typePublication):
    url = f"https://cereobs.franceagrimer.fr/cereobs-sp/api/public/publications/rapportCereobs?semaineObservation={semaineObservation}&idCulture={idCulture}&typePublication={typePublication}"    
#   try:
    r = requests.get(url)
    if 'application/json' in r.headers.get('content-type', ''):
        # JSON response
        json_data = r.json()
        return None
    else:
        df = pd.read_excel(BytesIO(r.content), skiprows=3)
        return df

In [92]:
def format_data(data):
    date = data[data['Unnamed: 6'].notnull()]['Unnamed: 6'].iloc[0]
    data = data.drop(columns=['Unnamed: 6'])
    data = data.dropna()
    index_to_keep = data[data['Unnamed: 0'].str.startswith('Moyenne')].index[0]
    data = data.iloc[:index_to_keep + 1]
    columns_to_drop = data.columns[data.isnull().all()]
    data = data.drop(columns=columns_to_drop)
    data = data.rename(columns={'Unnamed: 0': 'Region'})
    selected_columns = [col for col in data.columns if not col.startswith('Moyenne')]
    data = data[selected_columns]
    data.columns = data.columns.str.replace('\n', '').str.replace('%', '')
    data.set_index(data.columns[0], inplace=True)
    df_transposed = data.T
    df_transposed['Date'] = pd.to_datetime(date, dayfirst=True) - pd.Timedelta(weeks=1)
    df_transposed['Condition'] = df_transposed.index
    return df_transposed

In [93]:
data = test_data(833, 2, 5)
data = format_data(data)

data

Region,Auvergne-Rhône-Alpes,Bourgogne-Franche-Comté,Bretagne,Centre-Val de Loire,Grand-Est,Hauts-de-France,Ile-de-France,Normandie,Nouvelle-Aquitaine,Occitanie,Pays-de-la-Loire,Provence-Alpes-Côte d'Azur,Moyenne France (1),Date,Condition
Très mauvaises,2.0,1.0,0.0,3.0,1.0,2.0,0.0,0.0,3.0,0.0,5.0,0.0,2.0,2024-05-10,Très mauvaises
Mauvaises,15.0,7.0,13.0,15.0,3.0,10.0,20.0,7.0,17.0,10.0,17.0,0.0,11.0,2024-05-10,Mauvaises
Assez bonnes,31.0,17.0,18.0,24.0,17.0,20.0,26.0,26.0,35.0,44.0,29.0,8.0,24.0,2024-05-10,Assez bonnes
Bonnes,48.0,75.0,69.0,56.0,68.0,66.0,45.0,64.0,42.0,46.0,46.0,29.0,60.0,2024-05-10,Bonnes
Très bonnes,5.0,0.0,0.0,1.0,11.0,3.0,9.0,3.0,3.0,0.0,2.0,62.0,4.0,2024-05-10,Très bonnes

In [94]:
df_ble_tendre = []
df_ble_dur = []
df_mais = []
for i in range(550, 834):
    data = test_data(i, 2, 5)
    if data is not None:
        df = format_data(data)
        df['Produit'] = 'Ble tendre'
        df_ble_tendre.append(df)
for i in range(550, 834):
    data = test_data(i, 3, 5)
    if data is not None:
        df = format_data(data)
        df['Produit'] = 'Ble dur'
        df_ble_dur.append(df)
for i in range(550, 834):
    data = test_data(i, 5, 5)
    if data is not None:
        df = format_data(data)
        df['Produit'] = 'Mais'
        df_mais.append(df)

In [95]:
dev_ble_tendre = pd.concat(df_ble_tendre)
dev_ble_dur = pd.concat(df_ble_dur)
dev_mais = pd.concat(df_mais)

dev_ble_tendre = dev_ble_tendre.sort_index()
dev_ble_tendre.drop_duplicates(inplace=True)
dev_ble_tendre.to_csv('dataCond/cond_ble_tendre.csv')
dev_ble_dur = dev_ble_dur.sort_index()
dev_ble_dur.drop_duplicates(inplace=True)
dev_ble_dur.to_csv('dataCond/cond_ble_dur.csv')
dev_mais = dev_mais.sort_index()
dev_mais.drop_duplicates(inplace=True)
dev_mais.to_csv('dataCond/cond_mais.csv')

In [98]:
client = MongoClient('mongodb://admin:B9abe936jemapel.@146.59.157.18:27017/admin')
db = client['agri_data']  # Replace with your database name
collection = db['condition']  # Replace with your collection name

# Step 2: Read the CSV file
csv_file_path = 'dataCond/cond_mais.csv'  # Replace with the path to your CSV file

with open(csv_file_path, mode='r', newline='', encoding='utf-8') as csvfile:
    csv_reader = csv.DictReader(csvfile)
    
    # Step 3: Convert CSV data to a list of dictionaries
    data = [row for row in csv_reader]

# Step 4: Insert the data into MongoDB
if data:
    result = collection.insert_many(data)
    print(f'Inserted {len(result.inserted_ids)} documents into the collection')
else:
    print('No data found in the CSV file')

# Close the connection
client.close()

Inserted 615 documents into the collection