In [1]:
import requests
import pandas as pd
import zipfile

In [2]:
def find_report():
    url = 'https://visionet.franceagrimer.fr/Pages/OpenDocument.aspx?fileurl=SeriesChronologiques%2fproductions%20vegetales%2fgrandes%20cultures%2fsurfaces%2cproductions%2crendements%2fSCR-GRC-hist_dep_surface_prod_cult_cer-A24.zip&telechargersanscomptage=oui'
    try:
        r = requests.get(url)
        r.raise_for_status()
        with open("reportSurfRendProd.zip", "wb") as f:
            f.write(r.content)
        print("File downloaded successfully!")

        with zipfile.ZipFile('reportSurfRendProd.zip', 'r') as zip_ref:
            zip_ref.extractall('SurfRendProd')
        print(f"Files extracted")
    except requests.exceptions.RequestException as e:
        print(f"Error downloading the file: {e}")
    except zipfile.BadZipFile:
        print("Error: The downloaded file is not a valid ZIP file.")
    except Exception as e:
        print(f"An error occurred: {e}")

In [3]:
find_report()
df = pd.read_csv('SurfRendProd/SCR-GRC-hist_dep_surface_prod_cult_cer-A24.csv', encoding='ISO-8859-1', delimiter=';')
df['DEP'] = df['DEP'].str.replace(' ', '')
df['CULT_SURF'] = df['CULT_SURF'].str.replace(',', '.').astype(float)
df['CULT_REND'] = df['CULT_REND'].str.replace(',', '.').astype(float)
df['CULT_PROD'] = df['CULT_PROD'].str.replace(',', '.').astype(float)

File downloaded successfully!
Files extracted

In [11]:
df[(df['ANNEE'] == 2024) & (df['ESPECES'] == 'Blé tendre                          ')]

,ESPECES,DEP,DEPARTEMENT,REGION,ANNEE,CULT_SURF,CULT_REND,CULT_PROD
15128,Blé tendre,77,SEINE-ET-MARNE,ILE DE FRANCE,2024,111138.0,63.45,705216.7
15153,Blé tendre,78,YVELINES,ILE DE FRANCE,2024,27949.0,62.53,174758.6
15178,Blé tendre,91,ESSONNE,ILE DE FRANCE,2024,24589.0,65.16,160228.2
15206,Blé tendre,93,SEINE-SAINT-DENIS,ILE DE FRANCE,2024,229.0,69.85,1599.6
15231,Blé tendre,94,VAL-DE-MARNE,ILE DE FRANCE,2024,227.0,65.16,1479.2
...,...,...,...,...,...,...,...,...
17356,Blé tendre,13,BOUCHES-DU-RHONE,PROVENCE ALPES COTE D AZUR,2024,1609.0,34.72,5586.3
17381,Blé tendre,83,VAR,PROVENCE ALPES COTE D AZUR,2024,414.0,33.16,1372.8
17406,Blé tendre,84,VAUCLUSE,PROVENCE ALPES COTE D AZUR,2024,2186.0,27.35,5979.2
17415,Blé tendre,2A,CORSE-DU-SUD,CORSE,2024,3.0,40.00,12.0
17440,Blé tendre,2B,HAUTE-CORSE,CORSE,2024,60.0,40.00,240.0

In [10]:
df['ESPECES'].unique()

array(['Autres céréales                     ',
       'Autres oléagineux                   ',
       'Autres protéagineux                 ',
       'Avoine                              ',
       "Avoine d'hiver                      ",
       'Avoine de printemps                 ',
       'Blé dur                             ',
       "Blé dur d'hiver                     ",
       'Blé dur de printemps                ',
       'Blé tendre                          ',
       "Blé tendre d'hiver                  ",
       'Blé tendre de printemps             ',
       'Colza                               ',
       "Colza d'hiver                       ",
       'Colza de printemps                  ',
       'Féveroles                           ',
       'Haricots secs                       ',
       'Lentilles                           ',
       'Lin oléagineux                      ',
       'Lupin doux                          ',
       'Maïs (grain et semence)             ',
       'Maïs grain                          ',
       'Maïs grain non irrigué              ',
       'Maïs semence                        ',
       'Orge                                ',
       "Orge d'hiver                        ",
       'Orge de printemps                   ',
       'Pois protéagineux                   ',
       'Riz                                 ',
       'Seigle                              ',
       'Soja                                ',
       'Sorgho                              ',
       'Tournesol                           ',
       'Triticale                           ',
       'dont maïs grain irrigué             '], dtype=object)

In [9]:
df

,ESPECES,DEP,DEPARTEMENT,REGION,ANNEE,CULT_SURF,CULT_REND,CULT_PROD
0,Autres céréales,77,SEINE-ET-MARNE,ILE DE FRANCE,2000,64.0,30.00,192.0
1,Autres céréales,77,SEINE-ET-MARNE,ILE DE FRANCE,2001,64.0,30.00,192.0
2,Autres céréales,77,SEINE-ET-MARNE,ILE DE FRANCE,2002,64.0,30.00,192.0
3,Autres céréales,77,SEINE-ET-MARNE,ILE DE FRANCE,2003,200.0,30.00,600.0
4,Autres céréales,77,SEINE-ET-MARNE,ILE DE FRANCE,2004,50.0,55.00,275.0
...,...,...,...,...,...,...,...,...
61943,dont maïs grain irrigué,99,DOM,DOM,2014,62.0,40.00,248.0
61944,dont maïs grain irrigué,99,DOM,DOM,2015,56.0,40.00,224.0
61945,dont maïs grain irrigué,99,DOM,DOM,2016,150.0,16.67,250.0
61946,dont maïs grain irrigué,99,DOM,DOM,2017,43.0,40.00,172.0
61947,dont maïs grain irrigué,99,DOM,DOM,2018,37.0,40.00,148.0